.fuente{
    font-family: 'Oswald', sans-serif;
}

.button_temp {
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    background: #03609e;
    border-radius: 50px;
    padding: 10px 40px;
    border: none;
    transition: .5s ease;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .5);
    font-family: 'Sofia Sans Condensed', sans-serif;
  }
  
  .button_temp:hover {
    box-shadow: none;
    cursor: pointer;
  }
  
  .button_temp:hover + .drip-1{
    height: 25px;
  }
  
  .button_temp:hover ~ .drip-2{
    height: 50px;
  }
  
  .button_temp:hover ~ .drip-3{
    height: 20px;
  }